body {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #393939;
 /* color: #777;  */
    line-height: 1.8;
   }

    .gilda-display-regular {
      font-family: "Gilda Display", serif;
      font-weight: 400;
      font-style: normal;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    /* Create four equal columns that sits next to each other */
    .column {
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }
    
    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        flex: 50%;
        max-width: 50%;
      }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        flex: 100%;
        max-width: 100%;
      }
    }

    div.scroll-container {
      overflow-x: auto;
      white-space: nowrap;
      padding: 10px;
    }
    
    div.scroll-container img {
      padding: 10px;
      flex-wrap: nowrap;
    }

    div.scroll-container::-webkit-scrollbar {
      display: none;
    }

:root, :host {
   --fa-style-family-classic: 'Font Awesome 6 Free';
   --fa-font-solid: normal 900 1em/1 'Font Awesome 6 Free';
   --fa-font-brands: normal 900 1em/1 'Font Awesome 6 Free'; }
 
 @font-face {
   font-family: 'Font Awesome 6 Free';
   font-style: normal;
   font-weight: 900;
   font-display: block;
   src: url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.ttf") format("truetype"); }


@font-face {
   font-family: 'Font Awesome 6 Free';
   font-style: normal;
   font-weight: 900;
   font-display: block;
   src: url("../webfonts/fa-brands-900.woff2") format("woff2"), url("../webfonts/fa-brands-900.ttf") format("truetype"); }
 
 .fas,
 .fa-solid,
 .fa-brands {
   font-weight: 900; }


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
   width: 100%; /* Full width */
   padding: 12px; /* Some padding */ 
   border: 1px solid #ccc; /* Gray border */
   border-radius: 4px; /* Rounded borders */
   box-sizing: border-box; /* Make sure that padding and width stays in place */
   margin-top: 6px; /* Add a top margin */
   margin-bottom: 16px; /* Bottom margin */
   resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
 }
 
 /* Style the submit button with a specific background color etc */
 input[type=send] {
   background-color: #393939;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 
 /* When moving the mouse over the submit button, add a black color */
 input[type=send]:hover {
   background-color: #000000;
 }
 
 /* Add a background color and some padding around the form */
 .container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }